.priority-high {
  background: var(--danger);
  color: white;
}

.priority-medium {
  background: var(--warning);
  color: white;
}

.priority-low {
  background: var(--success);
  color: white;
}

.hidden{
  display: none;
}