.input-section {
  margin-bottom: var(--spacing-gg);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-p);
  margin-bottom: var(--spacing-p);
  align-items: flex-start;
}

.input-group-actions {
  display: flex;
  gap: var(--spacing-p);
}

.filters {
  display: flex;
  gap: var(--spacing-p);
  margin-bottom: var(--spacing-p);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-p);
}

@media (max-width: 600px) {
  .filters {
    flex-wrap: wrap;
  }
}
