header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-g);
  padding-bottom: var(--spacing-p);
  border-bottom: 2px solid var(--border);
}

header .header-actions {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: var(--spacing-g);
}

.lang-modal {
  padding: var(--spacing-gg);
  padding-bottom: var(--spacing-g);
  color: var(--text-primary);
  text-align: center;
}

.lang-modal h3 {
  font-size: 1.25em;
  color: var(--text-primary);
  margin-bottom: var(--spacing);
}

.infos {
  font-size: 0.9em;
  color: var(--text-secondary);
  margin-bottom: var(--spacing);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
