@media print {
  :root {
    --spacing: 0.55rem;
  }

  body {
    min-width: none;
    padding: 5%;
  }

  textarea {
    display: none;
  }

  select {
    display: none;
  }

  .task-checkbox {
    display: none;
  }

  button {
    display: none;
  }

  button.task-priority {
    display: inline-block;
  }

  .task-card {
    border: 1px rgb(148, 148, 148) solid;
    box-shadow: none;
  }
}
